@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$font-family-base: "Montserrat", sans-serif;

$color-primary: #ff6060;
$color-secondary: #000000;
$color-tertiary: #ffffff;

$color-bg-light: #ffffff;
$color-bg-secondary: #f6f6f6;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;
