@use "../../styles/variables.scss" as *;

.home {
  padding: 0 1.5rem;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: 3.5rem;
  row-gap: 2rem;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
